.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.304);
  position: fixed;
  top: 0;
  padding: 14px 80px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 15px 20px;
    justify-content: end;
    gap: 24px;
  }

  img {
    width: 153px;
  }

  .menu-button {
    background: transparent;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    &.active {
      font-size: 35px;
      color: black;
      font-weight: 400;
      transform: rotate(45deg);
      font-family: 'Poppins';
    }
  }

  .menu {
    &.menu-mobile {
      width: 100%;
      height: fit-content;
      position: fixed;
      top: -500px;
      left: 0;
      background: white;
      z-index: 2;
      box-shadow: 0 8px 21px -5px rgb(0 0 0 / 31%);

      &.active {
        animation: slideDown 0.3s forwards;
      }

      @keyframes slideDown {
        from {
          top: -500px;
          opacity: 0;
        }
        to {
          top: 80px;
          opacity: 1;
        }
      }

      ul {
        flex-direction: column;
        align-items: start;
        gap: 0px;
        margin: 0;
        padding: 0;
        
        a {
          padding: 15px 20px;
          width: 100%;
          color: black;

          &:hover {
            color: black;
            background: #f5f5f5;
          }
        }
      }
    }

    ul {
      display: flex;
      gap: 22px;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #271C47;
        font-weight: 500;
        font-size: 14px;

        &:first-child {
          color: #3019B2;
        }

        &:hover {
          color: #f1c400;
        }
      }

      &.dropdown {
        position: relative;

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: white;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          z-index: 1;

          a {
            text-decoration: none;
            display: block;
            padding: 8px 16px;
            color: black;

            &:hover {
              background-color: #f1f1f1;
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }

    }
  }

  


  .contact-button {
    background: #F1C400;
    color: #271C47;
    padding: 13px 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;

    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    @media (max-width: 768px) {
      padding: 10px 12px;
      font-size: 12px;
      margin-left: auto;
    }

    &:hover {
      background: #3019B2;
      color: white;
    }
   
  }
}