#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
  }

  .form-container {
    max-width: 545px;
    width: 100%;
    @media (max-width: 768px) {
      width: 60%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: white;
    padding: 30px 66px;
    border-radius: 10px;
    z-index: 2;

    img {
      max-width: 45px;
    }

    span {
      font-family: "Work Sans";
      font-style: italic;
      font-size: 32px;
      color: #000;
      font-weight: bold;
      margin-top: 15px;
    }

    p {
      max-width: 403px;
      font-family: "Work Sans";
      color: #000;
      text-align: center;
    }

    button {
      border: 2px solid #271C47;
      color: #271C47;
      border-radius: 20px;
      padding: 7px 0;
      width: 153px;
      font-weight: 600;
      background: transparent;
      cursor: pointer;
    }
  }

}