#footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.304);

  @media (max-width: 768px) {
    padding: 20px;
  }

  .top-content {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }

    .glassdoor-icon {
      max-height: 48px;
      
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    p {
      color: #8B8B8B;
      font-size: 13px;

      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }

    .social-icons {
      display: flex;
      gap: 32px;

      @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        margin-top: 25px;
      }

      a {
        color: #271C47;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          filter: invert(70%) sepia(65%) saturate(1523%) hue-rotate(7deg) brightness(103%) contrast(101%);
        }
      }
    }
  }

  .bottom-content {
    width: 100%;
    height: 20px;
    background: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

    @media (max-width: 768px) {
      margin-top: 10px;
    }

    p {
      color: #271C47;
      font-size: 14px;
      font-family: "Poppins";
      margin: 0;
    }

  }

}