#bannerBottom-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    padding: 70px 20px;
  }

  span {
    font-family: 'Work Sans';
    font-size: 38px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-style: italic;
    line-height: 120%;
  }

  p {
    font-family: 'Work Sans';
    font-size: 16px;
    color: white;
    margin: 0;
    max-width: 690px;
    font-weight: 400;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans';
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background: #F1C400;
    border-radius: 200px;
    width: 223px;
    height: 38px;

    &:hover {
      background: #3019B2;
      color: white;
    }

  }
  
}